.map-display {
  height: 600px;
  width: 600px;
}

/*body {
  background: url("Bootcamp1.jpg") no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}*/

img {
  opacity: 0.4;
  margin-top: 5cm;
}
