<h1>Welcome to Bootcamp Bureau</h1>
<br>

We hope you find the web development bootcamp you've been looking for.

Click {{#link-to 'bootcamps'}} here{{/link-to}} to see the list of bootcamps we have saved.

<!-- <img src="http://cdn.geekwire.com/wp-content/uploads/2014/04/Code-Fellows-logo-277x300.jpg" alt="" />
<img src="http://static1.squarespace.com/static/5524448ee4b0d6f6b83ab9e2/t/55244514e4b08ad5c0f51a01/1443214586946/?format=1500w" alt="" /> -->
<img class="img-responsive" src="img/Bootcamp1.jpg" alt="" />
